@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.navclass{
    background: rgb(58, 57, 63);
    }

.divcacc{
    color: white;
    font-size: 1.1em;
}

.nav-link{
    display: inline
}

.nav-item{
height: 3em;
}

.navconferencia{
    color: white;
}

.navoradores{
    color: grey;
}

.navlugar{
    color: grey;
}

.navconviertete{
    color: grey;
}

.navtickets{
    color: green;
}

.carouselimg{
    position: relative;
}
.la-conferencia{
    position: absolute;
    z-index: 100;
    top: 300px;
    padding: 20px;
    text-align: right;
}
@media screen and (max-width: 1200px) {
    .la-conferencia{
        top: 100px;
    }
}
@media screen and (max-width: 1000px) {
    .la-conferencia{
        top: 100px;
    }
}
@media screen and (max-width: 700px) {
    .la-conferencia{
        top: 10px;
    }
}
@media screen and (max-width: 576px) {
    .la-conferencia{
        position: static;
        background-color:rgb(58, 57, 63);
    }
}

.d-block{
    filter: brightness(60%);
}

#titleoradores{
    text-align: center;
}

.nombre{
    font-size: 1.3rem;
    font-weight: bold;
}

.col-4{
    display: inline-block;
}

.img-container {
    overflow: hidden;
  }

.js{
    font-weight: bold;
    font-size: small;
    background-color: yellow;
    padding: 1%;
    border-radius: 10%;
}

.react{
    font-weight: bold;
    font-size: small;
    color: white;
    background-color: rgb(16, 134, 173);
    padding: 1%;
    border-radius: 10%;
}

.negocios{
    font-weight: bold;
    font-size: small;
    color: white;
    background-color: rgb(173, 171, 171);
    padding: 1%;
    border-radius: 10%;
}

.startups{
    font-weight: bold;
    font-size: small;
    color: white;
    background-color: red;
    padding: 1%;
    border-radius: 10%;
}

#ciudad{
    color: white;
    background: rgb(58, 57, 63);
}

#conviertete{
    text-align: center;
}

.recuerda{
    color: grey;
}

.navfoot{
    background: rgb(58, 57, 63);
    }

    .foottext{
        color: white;
    }
    .titulocol{
        font-size: 1rem;
        font-weight: bold;

    }
    .porcentaje{
        font-weight: bold;
    }
    .doc{
        color: grey;
    }